<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="style.css">
    <script src="scripts.js"></script>
</head>
<body>


    <nav>

        <span>The world of stories</span>

            <ul>
                <li><a href="">Genre</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About us</a></li>

            </ul>
       
    </nav>


        <main style="background-color: red;">


            <div id="container">
    
                    <p id="question">Question</p>
    
                    <div>
                        <ul>
                            <li><a href="">a1</a></li>
                            <li><a href="">a2</a></li>
                            <li><a href="">a3</a></li>
                            <!-- <% for(var i = 0; i < stepsObj.length; i++) { %>
                                <li class="option"><%= stepsObj[i].context%></li>
                                <% } %> -->
                        </ul>
                    </div>
    
    
            </div>
    
        </main>
   


</body>
</html>